<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">
      <h1 class="display-4">Chimi app</h1>
      <p class="lead">Aplicación que refleja la historia de un gran equipo.</p>
    </div>
</div>