<h1>Chimis<small> experiences</small></h1>
<hr>

<div class="card-columns">
    <div class="card" *ngFor="let exp of experiences"> 
        <img [src]="exp.img" class="card-img-top" [alt]="exp.title">
        <div class="card-body">
          <h5 class="card-title">{{exp.title}}</h5>
          <p class="card-text">{{exp.description}}</p>
          <p class="card-text"><small class="text-muted">{{exp.word}}</small></p>
          <button type="button" class="btn btn-outline-primary btn-block">Ver más</button>
        </div>
    </div>
</div>